* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    /* height: 100% ပေးမှ နောက်ခံပုံက screen အပြည့်ပေါ် */
    height: 100vh;
    margin: 0 auto;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./img/background.svg);
    /* height: fit-content; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.hero{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    /* center .hero div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner,.modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner>h1{
    margin: 80px auto 50px auto;
}
.modal-btn{
    background-color: #C6F3EE;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.modal-btn:hover{
    background-color: #57e3d3;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}
.open-modal{
    visibility: visible;
    z-index: 10;
}
.modal-container{
    position: absolute;
    width: 500px;
    height: 270px;
    background-color: white;
    border-radius: 10px;
}
.modal-container>h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: red;
}