:root {
  --primary-color: #ffd700;
  --title-color: rgb(30, 30, 30);
  --text-color: rgb(118, 118, 118);
  --title-font: "Montserrat", sans-serif;
  --text-font: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  margin: 0 auto;
  font-family: var(--text-font);
  color: var(--text-color);
}
/* title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  color: var(--title-color);
  margin: 30px 0;
}
h2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}
.underline {
  height: 5px;
  width: 20%;
  background-color: var(--primary-color);
  margin: 10px auto;
}
/* end of title */

/* filter buttons */
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container > button {
  text-transform: capitalize;
  padding: 5px 10px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  margin: 0 10px 30px 0;
  background-color: transparent;
}
.btn-container > button:hover {
  background-color: var(--primary-color);
  color: white;
}
/* end of filter buttons */

/* menu items */
.section-center {
  margin: 0 150px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.menu-item {
  margin-bottom: 50px;
}
.photo {
  width: 100%;
  /* height: ; */
  border-radius: 10px;
  border: 3px solid var(--primary-color);
}
.item-info > header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(227, 227, 227);
}
.item-info > header > h4 {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--title-color);
}
.item-info > header > h4:last-child {
  color: var(--primary-color);
  letter-spacing: 0.1rem;
}
.item-text {
  text-align: justify;
}
/* end of menu items */

/* media query */
@media screen and (min-width: 890px) {
  .section-center {
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
  }
  .menu-item {
    break-inside: avoid;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
  }
}
