*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    margin: 0 auto;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    height: 100px;
}
.nav-center>.nav-header>img{
    width: 100px;
}

/* links */
.links>li, .social-icons>li{
    display: inline-block;
    padding: 0 5px;
    line-height: 100px;
}
.links>li>a, .social-icons>li>a>i{
    display: flex;
    color: rgb(228, 95, 18);
}

.nav-center>.toggle-btn>.nav-toggle{
    display: none;
}

/* media query */
@media screen and (max-width: 810px){
    .nav-center{
        display: flex;
    }
    .nav-center>.toggle-btn>.nav-toggle{
        display: block;
        background-color: transparent;
        border: none;
    }
    .nav-center>.toggle-btn>.nav-toggle>i{
        color: rgb(228, 95, 18);
        font-size: 2em;
    }
    .links>li{
        display: none;
        /* display: block; */
        line-height: 2rem;
    }
    .links>li>a{
        width: 50px;
        padding: 0 10px;
        transition: padding 0.1s ease-out 0.2s;
    }
    .links>li>a:hover{
        display: block;
        background-color: rgb(254, 215, 191);
        width: 100%;
        height: 50px;
        padding: 0 20px;
    }
    .social-icons{
        display: none;
    }
}

