*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    margin: 0 auto;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.nav-center>.nav-header>img{
    width: 100px;
}

/* links */
/* .links{ */
    /* height: auto; */
    /* display: flex; */
/* } */
.links>li, .social-icons>li{
    display: inline-block;
    padding: 0 5px;
}
.links>li>a, .social-icons>li>a>i{
    display: flex;
    color: rgb(228, 95, 18);
}
/* by default hide links */
.nav-center>.toggle-btn>.nav-toggle{
    display: none;
}

/* media query */
@media screen and (max-width: 810px){
    .nav-center{
        display: flex;
    }
    .nav-center>.toggle-btn>.nav-toggle{
        display: block;
        background-color: transparent;
        border: none;
    }
    .nav-center>.toggle-btn>.nav-toggle>i{
        color: rgb(228, 95, 18);
        font-size: 2em;
    }
    .links{
        position: absolute;
        width: 100%;
        top: 100px;
        height: 0;
        overflow: hidden;
        transition: var(--transition);
        transition: height 0.2s ease-out, height 0.2s ease-in;
    }
    .links>li{
        padding-bottom: 10px;
        width: 100%;
    }
    /* toggle class */
    .show-links{
        height: 10rem;
    }
    .links>li>a{
        padding: 0 10px;
        transition: padding 0.1s ease-out;
    }
    .links>li>a:hover{
        display: block;
        background-color: rgb(254, 215, 191);
        padding: 0 20px;
    }
    .social-icons{
        display: none;
    }
}

