* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    margin: 0 auto;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 254, 255);
}
.links>li>a,
.social-icons>li>a>i {
    color: rgb(228, 95, 18);
}


/* media query */
@media screen and (min-width: 676px) {
    .sidebar-toggle{
        display: none;
    }
    .sidebar{
        width: 100%;
        height: 100px;
        display: block;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 0 30px;
    }
    .sidebar-header>img{
        width: 100px;
    }
    .sidebar-header>button{
        display: none;
    }
    .links,.social-icons{
        display: flex;
        line-height: 100px;
    }
    .links>li,.social-icons>li{
        padding: 0 10px;
    }
}
@media screen and (max-width: 675px){
    /* links */
    .links>li{
        padding: 20px 20px;
    }
    .social-icons{
        text-align: center;
        margin-bottom: 30px;
    }
    .social-icons>li{
        display: inline-block;
    }
    
    .sidebar-toggle{
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: rgb(228, 95, 18);
    }
    
    /* sidebar */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        background: white;
        display: grid;
        grid-template-rows: auto 1fr auto;
        row-gap: 1rem;
        transition: 0.5s ease-in;
        transform: translate(-100%);
    }
    .show-sidebar{
        transform: translate(0);
    }
    .sidebar-header{
        display: flex;
        justify-content: space-between;
    }
    .sidebar-header>img{
        width: 100px;
    }
    .close-btn{
        background-color: transparent;
        border: none;
        color: red;
        font-size: 1.5rem;
        position: relative;
        right: 10px;
        /* top: -20px; */
    }
}