body{
    margin: auto 0;
    text-align: center;
    font-family: "Cause", cursive;
    background-color: #f1f5f8;
    text-transform: capitalize;
}
nav>div{
    display: flex;
    height: 50px;
    line-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 5px 5px 10px grey;
}
h4, ul>li{
    display: inline;
    padding: 0 10px;
}
h4{
    color: #1a86d9;
    letter-spacing: 0.05em;
}
.nav-links>li>a{
    list-style: none;
    color: black;
    text-decoration: none;
}
.container>h2{
    margin-top: 200px;
    height: 100px;
    line-height: 100px;
    background-color: black;
    color: white;
    letter-spacing: 0.05em;
    font-weight: bold;
    border-radius: 10px;
}
.container>h2>.color{
    color: #1a86d9;
}
.container>.btn{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}