:root{
    --bg-color: #F7F6F6;
    --card-bg-color: #FFFFFF;
    --title-font: "Montserrat", sans-serif;
    --text-font: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    margin: 0 auto;
    /* text-transform: capitalize; */
    font-family: var(--title-font);
    background-color: var(--bg-color)
}
.faq{
    text-align: center;
}
.title{
    margin: 30px;
}
.section-center{
    display: grid;
    justify-items: center;
}
.question{
    width: 80%;
    background-color: var(--card-bg-color);
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 20px;
}
.question-title{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 10px;
    font-family: var(--text-font);
    font-weight: 400;
}
.question-btn{
    background-color: transparent;
    border: none;
}

/* hide text */
.question-text{
    font-family: var(--text-font);
    font-weight: 300;
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 10px;
    display: none;
}
.minus-icon{
    display: none;
}
.show-text .question-text{
    display: block;
}
.show-text .minus-icon{
    display: inline;
}
.show-text .plus-icon{
    display: none;
}